In [1]:
# basic-module
import matplotlib.pyplot as plt
import sys
import os
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter('ignore')
#---------------------------------------------------
# sori -module
sys.path.append('/home/griduser/tool')
from getErrorValues import me,rmse,mae,r2 #(x,y)
#---------------------------------------------------------------------------
#---------------------------------------------------------------------------
# initial
#
from datetime import datetime
# import quandl
import pandas_datareader.data as web
from pandas_datareader.nasdaq_trader import get_nasdaq_symbols
from tqdm import tqdm
sys.path

['/usr/local/src/pyenv/versions/miniconda3-4.3.27/lib/python36.zip',
 '/usr/local/src/pyenv/versions/miniconda3-4.3.27/lib/python3.6',
 '/usr/local/src/pyenv/versions/miniconda3-4.3.27/lib/python3.6/lib-dynload',
 '',
 '/home/griduser/.local/lib/python3.6/site-packages',
 '/usr/local/src/pyenv/versions/miniconda3-4.3.27/lib/python3.6/site-packages',
 '/home/griduser/.local/lib/python3.6/site-packages/IPython/extensions',
 '/home/griduser/.ipython',
 '/home/griduser/tool']

In [2]:
# os.listdir("/home/griduser/tool")
sys.path.append("/home/griduser/work/sori-py2/stock/tool")
# from m01_stock import mk_mvave, mk_profit, mk_log_profit
# mk_mvave
from m01_stock import StockAnalysis

In [3]:
st = StockAnalysis()

analysis class

In [4]:
sys.path
DIR="../dat/comp"
# for com in ["AAPL","MSFT","NVDA","INTC","TSM","SAP","QCOM"]:
for com in ["AAPL"]:
    input_path=f"{DIR}/{com}.csv"
#     print(os.path.exists(input_path))
    df = pd.read_csv(input_path)
se = df["Close"]
se

0      116.150002
1      116.019997
2      116.610001
3      117.910004
4      118.989998
          ...
884    383.010010
885    383.679993
886    381.910004
887    388.230011
888    390.899994
Name: Close, Length: 889, dtype: float64

In [5]:
st = StockAnalysis()
st

analysis class

In [6]:
df.head()
df = st.calc(df,[10,30,90], colname="Close")

In [7]:
df.head()
df.dtypes

Date          object
High         float64
Low          float64
Open         float64
Close        float64
Volume       float64
Adj Close    float64
mv10         float64
prf10        float64
mv30         float64
prf30        float64
mv90         float64
prf90        float64
log_pro      float64
dtype: object

In [8]:
df.head()

,Date,High,Low,Open,Close,Volume,Adj Close,mv10,prf10,mv30,prf30,mv90,prf90,log_pro
0,2017-01-03,116.330002,114.760002,115.800003,116.150002,28781900.0,110.392334,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
1,2017-01-04,116.510002,115.750000,115.849998,116.019997,21118100.0,110.268791,NaN,NaN,NaN,NaN,NaN,NaN,-0.001120
2,2017-01-05,116.860001,115.809998,115.919998,116.610001,22193600.0,110.829552,NaN,NaN,NaN,NaN,NaN,NaN,0.005072
3,2017-01-06,118.160004,116.470001,116.779999,117.910004,31751900.0,112.065109,NaN,NaN,NaN,NaN,NaN,NaN,0.011087
4,2017-01-09,119.430000,117.940002,117.949997,118.989998,33561900.0,113.091560,NaN,NaN,NaN,NaN,NaN,NaN,0.009118

In [9]:
df.columns

Index(['Date', 'High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close', 'mv10',
       'prf10', 'mv30', 'prf30', 'mv90', 'prf90', 'log_pro'],
      dtype='object')

In [10]:
df.shape

(889, 14)

In [11]:
# f,ax = plt.subplots(3,1,figsize=(22,15))

# p_col=["Close"]
# col0 = p_col + [ col for col in df.columns if "mv" in col]
# col1 = [ col for col in df.columns if "prf" in col]
# col2 = [col for col in df.columns if "log" in col]
# length= df.shape[0]
# for col in col0:
#     ax[0].plot(df[col].values, label=col)
# #     ax[0].legend()
    
# for col in col1:
#     ax[1].plot(df[col].values, label=col)
#     ax[1].set_ylim(-1,1)
#     ax[1].legend()
    
# for col in col2:
#     ax[2].plot(df[col].values, label=col)
#     ax[2].legend()

# for i in range(3):
#     ax[i].set_title(title, pad=-15)
#     ax[i].set_xticks(np.arange(0,length,30))
#     ax[i].set_xticklabels(df["Date"].values[0:length:30],rotation=45)
# plt.show()

In [13]:
st.plot_1com(df, "AAPL")

NameError: name 'plt' is not defined